{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <a href="{% url 'home' %}" style="display: inline-block; padding: 10px 15px; background-color: #007BFF; color: #fff; border-radius: 4px; text-decoration: none;"">Back</a>
    <title> Create Class</title>
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'create_student.css' %}">
    
    
   
</head>
<body>
    
    <h1>Create Class</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
        
    </form>

    
    
</body>
</html>
