<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print Students</title>
    <style>
        /* Add responsive styles for better print layout */
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            text-align: left;
            border: 1px solid #000;
        }
        /* Print styles */
        @media print {
            .no-print {
                display: none;
            }
        }
    </style>
</head>
<body>
    <h1>{% if class_filter %}{{ class_filter }}{% else %}All{% endif %} Student List</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Father's Name</th>
                <th>Class</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.date_of_birth }}</td>
                <td>{{ student.fathername }}</td>
                <td> {{student.Classs}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        window.print();
    </script>
</body>
</html>
